@charset "utf-8";
/* 2017-12-13 wuyunduoduopiao */

body,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,img,dl,dd,dt,input,textarea,button,th,td,iframe{margin:0;padding:0}
html{font:12px/1.5 'Microsoft YaHei',sans-serif}
img{border:none; max-width:100%; vertical-align:top}
h1,h2,h3,h4,h5,h6{font-weight:normal}
input,select,textarea{font-size:100%;vertical-align:baseline;*vertical-align:middle}
ol,ul{list-style:none}
textarea{overflow:auto;vertical-align:top;resize:vertical}
table{border-collapse:collapse;border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
a{text-decoration:none;outline:none;color:#069}

.terms{ padding: 10px}
.terms h1{ color: #4E4E4E; font-size:21px}
.terms .last_time{ color: #4E4E4E; font-size:18px; padding-bottom: 5px}
.terms p{ color: #666; font-size:12px}
.terms .p_h2{ color: #4E4E4E; font-size:13px}
.terms .p_content{ padding-bottom: 20px}